<robot name="simple_box">
    
  <material name="wood">
    <color rgba="0.87  0.72 0.52 1"/>
  </material>

  <link name="nil_link">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="100.0" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 1.5 0.01" />
      </geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.6 1.5 0.01" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="nil_link">
    <material>Gazebo/Wood</material>
  </gazebo>
  <gazebo reference="nil_link">
    <kp>1400000.0</kp>
    <kd>280.0</kd>
    <fdir1>1 0 0</fdir1>
    <maxVel>10.0</maxVel>
    <minDepth>0.00</minDepth>
<!-- ToDO 摩擦を調整する -->
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>
</robot>
